/**
 * @name CustomEffects
 * @author SerStars, Happy Enderman
 * @version 1.0.1
 * @description Use Custom Profile Effects on your Discord Profile
 * @source https://github.com/CustomEffects/CustomEffects
 * @server https://discord.gg/EUM3spHREG
*/

/* serstars */
[aria-label="serstars"] [class*="userProfile"] {
	--custom-effects-sh: url("https://customeffects.github.io/DefaultEffects/Assets/DoorsGuidingLight.png");
}
[aria-label="serstars"] [class*="userProfile"] [class^="profileEffects"] {
	display: none;
}
[aria-label="serstars"] [id*="userPopout"] [class^="profileEffects"] {
	display: none;
}
[aria-label="serstars"] [class*="root"] [class^="profileEffects"] {
	display: none;
}

/* happy.enderman */
[aria-label="happy.enderman"] [class*="userProfile"] {
	--custom-effects-sh: url("https://customeffects.github.io/DefaultEffects/Assets/Assets/Smile.gif");
}
[aria-label="happy.enderman"] [class*="userProfile"] [class^="profileEffects"] {
	display: none;
}
[aria-label="happy.enderman"] [id*="userPopout"] [class^="profileEffects"] {
	display: none;
}
[aria-label="happy.enderman"] [class*="root"] [class^="profileEffects"] {
	display: none;
}

/* DTACat */
[aria-label="yanoiwascat"] [class*="userProfile"] {
	--custom-effects-sh: url("https://customeffects.github.io/db/effects/1169899815983915121.png");
}
[aria-label="yanoiwascat"] [class*="userProfile"] [class^="profileEffects"] {
	display: none;
}
[aria-label="yanoiwascat"] [id*="userPopout"] [class^="profileEffects"] {
	display: none;
}
[aria-label="yanoiwascat"] [class*="root"] [class^="profileEffects"] {
	display: none;
}

/* CustomEffectsBot */
[aria-label="CustomEffects#5628"] [class*="userProfile"] {
	--custom-effects-sh: url("https://customeffects.github.io/.github/assets/CustomEffectsLogo.png");
}
[aria-label="CustomEffects#5628"] [class*="userProfile"] [class^="profileEffects"] {
	display: none;
}
[aria-label="CustomEffects#5628"] [id*="userPopout"] [class^="profileEffects"] {
	display: none;
}
[aria-label="CustomEffects#5628"] [class*="root"] [class^="profileEffects"] {
	display: none;
}

/* wont.stream */
[aria-label="wont.stream"] [class*="userProfile"] {
	--custom-effects-sh: url("https://customeffects.github.io/db/effects/1125315673829154837.png");
}
[aria-label="wont.stream"] [class*="userProfile"] [class^="profileEffects"] {
	display: none;
}
[aria-label="wont.stream"] [id*="userPopout"] [class^="profileEffects"] {
	display: none;
}
[aria-label="wont.stream"] [class*="root"] [class^="profileEffects"] {
	display: none;
}

/* tamkerra */
[aria-label="tamkerra"] [class*="userProfile"] {
	--custom-effects-sh: url("https://customeffects.github.io/DefaultEffects/Assets/DoorsGuidingLight.png");
}
[aria-label="tamkerra"] [class*="userProfile"] [class^="profileEffects"] {
	display: none;
}
[aria-label="tamkerra"] [id*="userPopout"] [class^="profileEffects"] {
	display: none;
}
[aria-label="tamkerra"] [class*="root"] [class^="profileEffects"] {
	display: none;
}

/* rshiba */
[aria-label="rshiba"] [class*="userProfile"] {
	--custom-effects-sh: url("https://customeffects.github.io/db/effects/270321582319206400.gif");
}
[aria-label="rshiba"] [class*="userProfile"] [class^="profileEffects"] {
	display: none;
}
[aria-label="rshiba"] [id*="userPopout"] [class^="profileEffects"] {
	display: none;
}
[aria-label="rshiba"] [class*="root"] [class^="profileEffects"] {
	display: none;
}
