/*
 * @name CustomEffects
 * @author SerStars, Happy Enderman
 * @version 1.0.0
 * @description Use Custom Profile Effect on your Discord Account
 * @source https://github.com/CustomEffects/CustomEffectsTheme
*/

@property --custom-pe {
	syntax: "<image> | none";
	inherits: true;
	initial-value: url(" ");
}

[class^="profileEffects"] {
	display: none;
}

/* is it really needed? */
[class^="profileEffectShopPreview"] [class^="profileEffects"] {
	display: revert;
}

[class*="userProfileInner"]::after {
	transition: opacity 0.6s ease-in-out;
	background: var(--custom-pe);
	background-repeat: no-repeat;
	background-size: 100% auto;
	pointer-events:none;
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	z-index: 1;
	opacity: 1;
}

[class*="userProfileInner"]:hover::after {
	opacity: 0.35;
}